.zigzag {
  display: inline-block;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif
    /* Adjust color according to your preference */
}

.zigzag::after {
  content: '';
  position: absolute;
  bottom: -4px;
  /* Adjust this value to control the distance of the underline from the text */
  left: 0;
  width: 100%;
  height: 2px;
  /* Adjust thickness of the underline */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 10 10'><polygon points='0,0 10,5 0,10' fill='%23195749' /></svg>") repeat-x;
}